@font-face {
  src: url(/assets/font/TruenoLt.otf);
  font-family: Trueno;
}

@font-face {
  src: url(/assets/font/TruenoBd.otf);
  font-family: TruenoBd;
}

@font-face {
  src: url(/assets/font/TruenoLt.otf);
  font-family: TruenoLt;
}

.top-bar-fixed {
  position: fixed;
  z-index: 1;
  color: var(--main-dark-color);
}

/* get in touch */

.text {
  font-size: 12px;
  margin-top: 15px;
}
.careerSection {
  height: 100%;
  min-height: 350px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Trueno;
  color: var(--main-dark-color);
}

.svgLine span {
  margin-left: 1rem;
}

.paragraph strong {
  font-family: TruenoBd;
}

.careerSection strong {
  font-family: TruenoBd;
  color: #2e2e2e;
}

.careerSection .svg-icon svg {
  margin-left: 25%;
}

.careerSection h1 {
  font-size: 44px;
  font-weight: 900;
  font-family: TruenoBd;
}

.careerSection p {
  margin: 25px;
  width: 55%;
  font-size: 20px;
  font-weight: 500;
  color: var(--main-text-color);
}

.point-careerSection {
  stroke: #ffea00;
  stroke-width: 1;
}

@media all and (max-width: 1023px) {
  .careerSection h3 {
    width: 80%;
    max-width: 400px;
  }
  .careerSection p {
    width: 95%;
  }
}

/* Career about us */

.aboutUsSection {
  height: 100%;
  display: flex;
  color: var(--main-light-color);
  font-family: Trueno;
  position: relative;
  min-height: 600px;
}

.brandsBox {
  width: 50vw;
  padding-top: 50px;
  background: var(--main-bg-color);
  background-image: url("/assets/images/background-img2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  min-height: 600px;
}

.brandsHeading {
  padding-top: 50px;
  padding-left: 3rem;
  margin: 0 auto;
  width: 90%;
}

.brandsHeading h2 {
  font-size: 3vw;
  margin-bottom: 25px;
  color: var(--main-light-color);
}

.brandsHeading h2 strong {
  font-family: TruenoBd;
}

.brandsHeading h2 span {
  font-family: TruenoLt;
}

.svgLine {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.svgLine span {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Raleway";
}

.buttonsContainer {
  display: flex;
  align-items: center;
  margin-top: 25px;
  transition: 0.5s ease-in-out;
  width: 180px;
}

.buttonsContainer .line {
  width: 50px;
  height: 4px;
  background: var(--main-dark-color);
  margin: 0px 20px;
  transition: 0.5s ease-in-out;
}

.buttonsContainer span {
  opacity: 1 !important;
  margin-left: 15px;
  font-weight: 900;
  font-size: 18px;
  font-family: TruenoBd;
}

.buttonsContainer:hover .line {
  transform: translateX(10px);
  width: 60px;
}

.point {
  stroke: var(--main-light-color);
  stroke-width: 1;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.headingsItems {
  display: flex;
  justify-content: center;
  width: 80%;
  padding-left: 3rem;
}

.headingsItems div {
  margin: 5% 5% 0% 0%;
}

.headingsItems h3 {
  font-size: 5vw;
  padding-bottom: 25px;
  font-family: TruenoBd;
}

.paragraph p {
  width: 100%;
  font-size: 17px;
}

.paragraph p:first-child {
  font-size: 28px;
  /* font-weight: bolder */
}

@media only screen and (max-width: 1023px) {
  .aboutUsSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--main-light-color);
    font-family: Trueno;
  }
  .brandsBox {
    width: 100%;
  }
  .brandsHeading {
    width: 90%;
  }
  .brandsHeading h2 {
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 25px;
    color: var(--main-light-color);
  }
}

/* form section */

.form-section {
  display: flex;
  color: var(--main-dark-color);
  font-family: Trueno;
  position: relative;
  min-height: 300px;
}

.formContainer {
  height: 100%;
  min-height: 750px;
  width: 50vw;
  padding: 7% 5% 0% 5%;
  color: var(--main-dark-color);
}

.formContainer h2 {
  font-size: 44px;
  /* font-weight: 800; */
  letter-spacing: 1px;
  font-family: Trueno;
}

.formContainer h2 strong {
  font-family: TruenoBd;
}

.formContainer p {
  font-size: 18px;
  width: 60%;
  margin-bottom: 30px;
}

.formContainer .terms {
  margin-top: 3rem;
  font-size: 14px;
  opacity: 0.7;
}

.svgLineCv {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  background: var(--main-bg-color);
  width: 225px;
  padding: 10px;
}

.svgLineCv span {
  font-weight: 900;
  font-family: Trueno;
  font-size: 14px;
  letter-spacing: 2px;
  color: var(--main-light-color) !important;
  opacity: 1 !important;
  margin-bottom: 0 !important;
}

.svgLineCv .point {
  stroke: var(--main-light-color);
  stroke-width: 1;
}

.fileName {
  height: 25px;
} 

.formInputs {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--main-dark-color);
  background-color: transparent;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid var(--main-dark-color);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.formInputs:focus {
  outline: none;
  border-bottom: 2px solid var(--main-dark-color);
}

.formContainer label {
  color: var(--main-text-color);
  opacity: 0.5;
  margin-bottom: 0px;
}

.inputFlexBox {
  display: flex;
  justify-content: space-between;
}

.inputFlexBox .formGroup {
    width: 48%;
    padding-top: 17px;
}

.form-button {
  padding: 20px 30px;
  background: var(--main-bg-color);
  border: 0.2px solid var(--main-dark-color);
  color: var(--main-light-color);
  font-size: 12px;
}

.form-button:hover {
  outline: #f8f8f8;
  border: #f8f8f8;
}

.form-button {
  margin-top: 0rem;
}

.sendButtonBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 34px;
  padding-top: 70px;
}

.attachment{
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.topContainer {
  background-color: #f5f5f5;
  width: 75px;
  height: 150px;
  position: absolute;
  top: -75px;
}

.bottomContainer {
  display: block;
  background-color: #f5f5f5;
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: -2%;
  left: 35%;
  z-index: 1;
}

.loading {
  position: relative;
  width: 50px;
  margin-top: 25px;
}

.errorMessage {
font-size: 13px;
height: 1rem;
color: red;
}

.loading:after {
  content: "";
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-animation: wormsPong cubic-bezier(0.77, 0, 0.175, 1) 1s infinite;
  -webkit-animation: wormsPong cubic-bezier(0.77, 0, 0.175, 1) 1s infinite;
  animation: wormsPong cubic-bezier(0.77, 0, 0.175, 1) 1s infinite;
  background-color: var(--main-dark-color);
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 4px;
  height: 4px;
}

@keyframes wormsPong {
  25% {
    width: 100%;
  }
  50% {
    width: 0;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    right: auto;
    left: 0;
  }
}

.sendButtonInactive {
  cursor: not-allowed;
}

.sendButtonActive {
  cursor: pointer;
}

@media all and (max-width: 1023px) {
  .form-section {
    margin-bottom: 0px;
  }
  .form-background-image {
    display: none;
  }
  .formContainer {
    width: 100%;
  }
  .form-button {
    padding: 10px;
    width: 125px;
    font-size: 10px;
    margin: 5px;
  }
  .buttonsContainer {
    width: 150px;
  }
  .bottomContainer {
    display: none;
  }
}

@media all and (max-width: 767px) {
  .bottomContainer {
    display: none;
  }
  .formContainer p {
    width: 95%;
    text-align: justify;
  }
  .formContainer label {
    opacity: 0.5;
  }
}

@media all and (max-width: 449px) {
  .attachment{
    margin-bottom: 15px;
  }
  .careerSection p {
    font-size: 14px;
  }
  .brandsHeading {
    padding-left: 0px;
  }
  .formContainer p {
    width: 95%;
    text-align: justify;
  }
  .headingsItems {
    padding-left: 0.5rem;
    width: 95%;
  }
  .headingsItems h3 {
    font-size: 34px;
  }
  .paragraph p:first-child {
    font-size: 22px;
  }
  .bottomContainer {
    display: none;
  }
  .formContainer h2 {
    font-size: 24px;
  }
  .topContainer {
    width: 50px;
    height: 125px;
    position: absolute;
    top: -60px;
  }
  .formContainer label {
    margin-bottom: 0px;
  }
  .attachment {
    flex-direction: column;
  }
  .sendButtonBox {
    padding-top: 30px;
  }
}

[type="file"].fileField {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"].fileField + label {
  background: var(--main-bg-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Trueno;
  outline: none;
  padding: 1rem 30px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}
[type="file"].fileField + label:hover {
  background-color: var(--main-light-bg-color);
}
